[Unit]
Description=Serviço temporário para continuar o setup após reinicialização
After=network.target

[Service]
ExecStart=SCRIPT_PATH
User=USER_NAME
Type=simple

[Install]
WantedBy=multi-user.target